body {
  background-color: #FEE140;
  background-image: linear-gradient(45deg, #FEE140 0%, #e27050 50%, #d1257f 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#dribble{
  border-radius: 5%;
  width: 250px;
  height: 200px;
  background: white;
}
#mm{
  border-radius: 5%;
  width: 250px;
  height: 200px;
  position:absolute;
  background: white;
}
#mm:hover {
  opacity:0;
}

#text {
  color: #F0E9E9;
  font-family: Roboto, Arial, sans-serif;
  font-size:130px;
  margin: 100px;
}
